@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
    padding: 20px 0;
    text-align:center;
}
body {
    background-image: url("background.jpg");  
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 15%;
    padding-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.title h1{
    text-align:center;
}
.title p{
    text-align:center;
}
.global-search {
    text-align:center;
    padding:10px;
}
.global-search .form-control {
    size:5;
    padding: 10px;
}
.global-search * {
    display:inline-block;
    margin-bottom:0;
}
}
.topcorner{
    position:absolute;
    top:2%;
    right:2%;
}
.btn{
    background-color: #4285F4;
    border: none
}
.step-links a{
    color: #4285F4;
}
.tag_btn{
    background: #ccc;
} .btn:focus{
    background: red;
}