body {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fffde4;
 }
.statement{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600; 
}

.global-filter{
    margin-left: 10px;
}
.formline{
    display: flex;
}
.global-filter .filter-group {
    /*display: flex;*/
    width: 328px;
}
.global-filter .filter-group .desc {
    width: 110px;
    text-align:left;
    font-size: 17px;
}

.output{
    width: 100%;
    display: flex;
}
.list{
    width: 55%;
    margin-right: 30px;

}
.showmap{
    margin-top: 30px;
    height:400px;
    width: 43%;
    position: fixed;
    right:10px;
    top:175px;
}
ol {
    padding: 0;
}
li { 
    padding-left: 16px;
    padding-bottom: 10px;
    display: flex;
}
.trail-result-card{
    color: white;
}
.btn{
    margin-top: 15px;
    height: 40px;
}
