@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    font-family: 'Ubuntu', sans-serif;
}
.title h1{
    font-size: 28px;
    color: white;
}
.title p{
    font-size: 28px;
    color: white;
}
#top{
    background-image: url("background2.jpg");  
    background-repeat: no-repeat;
    background-size: 100%;    
    /*background-color: yellow;*/
}
#statement{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 21px;
    color: white; 
}

.global-filter{
    margin-left: 10px;
    display: flex;
}
.global-filter .filter-group {
    /*display: flex;*/
    width: 190px;
    padding-right: 10px;
}
.global-filter .filter-group .desc {
    color: white;
    width: 120px;
    text-align:left;
    font-size: 15px;
}

.output{
    width: 100%;
    display: flex;
}
.list{
    width: 55%;
    margin-right: 30px;

}
.showmap{
    margin-top: 30px;
    height:400px;
    width: 43%;
    position: fixed;
    right:10px;
    top:175px;
}
ol {
    padding: 0;
}
li { 
    padding-left: 16px;
    padding-bottom: 10px;
    display: flex;
    height: 100px;
}
.trail-result-card{
    color: white;
}
.btn{
    margin-top: 10px;
    height: 40px;
}
