<html>
    <title> Trailgle</title>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3UAqTqrfEAjaYLv9Gsiuaml5yho1UIM&callback=initMap"></script> -->

        <link rel="stylesheet" href="/static/static.css">
    </head>
    <body>        
        <div id ="top" style="height: 180px;margin-bottom: 5px;">
            <div class='title' style="text-align:center;">
                <a href="http://trailglefinal.herokuapp.com/" style="font-size: 50px;color: white;">Trailgle</a>
            </div>
            <div id="statement"></div>
            <form class= "global-filter" method="post">
                <div class="filter-group">
                    <div class="desc">Route Type</div>
                    <div class="input">
                        <select class="selectpicker" id="route_type" name="route_type" style="width: 158px;height: 28px;">
                          <option value="" selected></option>
                          <option value="Loop">Loop</option>
                          <option value="Out & Back">Out & Back</option>
                          <option value="Point to Point">Point to Point</option>
                        </select>
                    </div>
                </div>
                <div class="filter-group">
                    <div class="desc">Activities</div>
                    <div class="input">
                        <select class="selectpicker" id="activities" name="activities"  style="width: 158px;height: 28px;">
                            <option value="" selected></option>
                            <option value="Snowshoeing">Snowshoeing</option>
                            <option value="Surfing">Surfing</option>
                            <option value="Cross Country Skiing">Cross Country Skiing</option>
                            <option value="Fishing">Fishing</option>
                            <option value="Horseback Riding">Horseback Riding</option>
                            <option value="Scenic Driving">Scenic Driving</option>
                            <option value="Off Road Driving">Off Road Driving</option>
                            <option value="Skiing">Skiing</option>
                            <option value="Paddle Sports">Paddle Sports</option>
                            <option value="Walking">Walking</option>
                            <option value="Hiking">Hiking</option>
                            <option value="Camping">Camping</option>
                            <option value="Mountain Biking">Mountain Biking</option>
                            <option value="Birding">Birding</option>
                            <option value="Trail Running">Trail Running</option>
                            <option value="Backpacking">Backpacking</option>
                            <option value="Road Biking">Road Biking</option>
                            <option value="Rock Climbing">Rock Climbing</option>
                            <option value="Nature Trips">Nature Trips</option>
                        </select>
                    </div>
                </div>
                <div class="filter-group">
                    <div class="desc">Trail length</div>
                    <div class="input">
                        <input id="distance" type="text" name="distance" size="20" value= "{{request.form.distance}}" placeholder="enter distance in miles" style="font-size: 15px;">
                    </div>
                </div>
                <div class="filter-group">
                    <div class="desc">Elevation Gain</div>
                    <div class="input">
                        <input id="elevation_gain" type="text" name="elevation_gain" size="20" value= "{{request.form.elevation_gain}}" placeholder="enter number in feet" style="font-size: 15px;">
                    </div>
                </div>
                <button type="submit" class="btn btn-info"> filter</button>          
            </form>
        </div>

        <div style="margin-left: 15px;font-weight: bold;"><span id="result-count"></span></div>
        <div class="output">
            <div class="list">
                <ol>
                    <li id="0" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11058345/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="http://alltrails.com/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Taughannock Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview">Similarity Score:</div>
                            </div>
                        </div>
                    </li>
                    <li id = "1" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/10235890/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Finger Lakes Trail </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview">Similarity Score:</div>
                            </div>
                        </div>
                    </li>
                    <li id = "2" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "3" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11058345/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Taughannock Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "4" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/10235890/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Finger Lakes Trail </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "5" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "6" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"> </div>
                            </div>
                        </div>
                    </li>
                    <li id = "7" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "8" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                    <li id = "9" class="sortable" style="visibility: hidden;height: 0px;">
                        <div class="trail-result-card" style="background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://www.alltrails.com/api/alltrails/photos/11565107/image?size=extra_large&api_key=3p0t5s6b5g4g0e8k3c1j3w7y5c3m4t8i);background-repeat:no-repeat;background-position:center center;height:100px;width:100%;">
                            <div class="item">
                                <h3 class="name short">
                                    <a class="name short link" href="/trail/us/new-york/taughannock-falls?ref=result-card" style="color:white;">Wells Falls </a>
                                </h3>
                                <div class="difficulty-info">
                                    <span class="avgRating" style="color:white;">Rating:4</span> | 
                                    <span class="difficulty" style="color:white;">5</span> | 
                                    <span class="length" style="color:white;">4.1 miles</span> |
                                    <span class="city" style="color:white;">City</span>
                                </div>
                                <div class="overview"></div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="showmap">
                <div id="map" style="height: 400px;"></div>
            <div>
        </div>

        

        <script>
            var results = []; // json object with the top ten results
            var sim_scores = [];
            var query_str = 'Browsing Trails';
            var photo_head1 = "https://cdn-assets.alltrails.com/uploads/photo/image/"; // add photo_hash + .jpg
            var photo_head2 = "/extra_large_"
            
            var query = '{{query}}'.replace(/&#39;/g, '"').replace(/&#34;/g, "'").replace(/&amp;/g, '&');
            var found =  query.match(/\'.*?\'/g);

            console.log("query", query)
            if (found){
                console.log("found is " ,found)
                for (var i=0; i < found.length; i++){
                    f = found[i].replace(/\"/g,'');
                    query = query.replace(found[i], f);
                }
                query = query.replace(/\'/g, '"'); 
            }
            query = query.replace(/None/g, '"None"');
            var query_obj = JSON.parse(query);

            if (query_obj.trail_name != 'NILL'){
                query_str += " that are similar to " + query_obj.trail_name;
            }
            if ((query_obj.keywords != '') && (query_obj.keywords != 'NILL')){
                if (typeof(query_obj.keywords) == 'string'){
                    query_str += " with keywords " + query_obj.keywords;
                } else {
                    query_str += " with keywords " + Object.keys(query_obj.keywords).toString();
                }
                
            }
            if (query_obj.state != 'NILL'){
                query_str += " in " + query_obj.state;
            }
            if ((query_obj.trail_name == 'NILL') && ((query_obj.keywords == '') || (query_obj.keywords == 'NILL')) && (query_obj.state == 'NILL')){
                query_str = "Browsing Best Trails in USA";
            }
            document.getElementById("statement").textContent = query_str;

            if (query_obj.routetypes) {
                var sel = document.getElementById('route_type');
                var opts = sel.options;
                for (var opt, j = 0; opt = opts[j]; j++) {
                    if (opt.value == query_obj.routetypes) {
                        sel.selectedIndex = j;
                        break;
                    }
                }
            }
            if ((query_obj.length) && (query_obj.length != "")) {
                document.getElementById('distance').value = query_obj.length;
            }
            if ((query_obj.change_altitude) && (query_obj.change_altitude != "")) {
                document.getElementById('elevation_gain').value = query_obj.change_altitude;
            }
            if (query_obj.tags) {
                var sel = document.getElementById('activities');
                var opts = sel.options;
                for (var opt, j = 0; opt = opts[j]; j++) {
                    if (opt.value == query_obj.tags) {
                        sel.selectedIndex = j;
                        break;
                    }
                }
            }

            console.log("query object is ", query_obj);
            // get the result request response
            var results_count = '{{data[0] }}';
            var display_count = '{{data[1] }}';
            if (display_count == 0){
                document.getElementById("result-count").textContent = 'There is no results.';
                
            } else{
                document.getElementById("result-count").textContent = 'Top ' + display_count + '/' +  results_count + ' result';

                '{% for d in data[2:] %}'
                var input = '{{d}}';
                var tmp = '{{d[0]}}'.replace(/&#39;/g, '"').replace(/&#34;/g, "'").replace(/&amp;/g, '&');
                var tmp_score = parseFloat('{{d[1]}}');
                var found =  tmp.match(/\'.*?\'/g);
                for (var i=0; i < found.length; i++){
                    f = found[i].replace(/\"/g,'');
                    tmp = tmp.replace(found[i], f);
                }
                tmp = tmp.replace(/\'/g, '"')
                tmp_obj = JSON.parse(tmp);

                results.push(tmp_obj);
                // sim scores 
                if (tmp_score < 0) {
                    tmp_score = 0;
                }
                sim_scores.push(tmp_score);
                '{% endfor %}'
               

                console.log("the results are ", results);
                console.log("sim scores are ", sim_scores);

                // get the array of latitudes and logitudes
                a = [];// lat
                b = []; // lng
                for (var i = 0; i< results.length; i++) {
                    a.push(parseFloat(results[i].latitude));
                    b.push(parseFloat(results[i].longitude));
                }

                //
                // for (var i = 0; i < results.length; i++) {
                sim_scores.forEach(function(d, i){
                    // make it visible
                    document.getElementsByClassName("sortable")[i].style.visibility = 'visible';
                    document.getElementsByClassName("sortable")[i].style.height = '110px';
                    //set background images
                    document.getElementsByClassName("trail-result-card")[i].style.backgroundImage =  "linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(" + photo_head1 + parseInt(results[i].photo_id) + photo_head2 + results[i].photo_hash + ".jpg)"

                    trail_no = i +1;
                    document.getElementsByClassName("name short link")[i].textContent = trail_no + '. ' + results[i].trail_name;

                    state = results[i].state.toLowerCase().replace(/ /g, "-");
                    name = results[i].trail_name.trim().toLowerCase().replace(/ /g, "-").replace(/[/\[\]]/g, "");
                    document.getElementsByClassName("name short link")[i].href="http://alltrails.com/trail/us/" + state + "/" + name;

                    document.getElementsByClassName("avgRating")[i].textContent = "Rating: " + results[i].avgRating + "/5.0";
                    document.getElementsByClassName("city")[i].textContent = results[i].city + ", " + results[i].state;
                    document.getElementsByClassName("difficulty")[i].textContent = "Difficulty: " + parseInt(results[i].difficulty) + "/7";
                    document.getElementsByClassName("length")[i].textContent = "Length: "  + (results[i].length * 0.00062137119223733).toFixed(1) + " miles";
                    if (d != 0) {
                    document.getElementsByClassName("overview")[i].textContent = "Similarity Score: " + d + "/5";
                    }
                })
                    
                // }
            }
            
            google.maps.visualRefresh = true;
            function initMap() {
                google.maps.visualRefresh = true;
                var styledMapType = new google.maps.StyledMapType(
                    [
                    {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
                    {
                        featureType: 'administrative',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#c9b2a6'}]
                    },
                    {
                        featureType: 'administrative.land_parcel',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#dcd2be'}]
                    },
                    {
                        featureType: 'administrative.land_parcel',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#ae9e90'}]
                    },
                    {
                        featureType: 'landscape.natural',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                    },
                    {
                        featureType: 'poi',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#93817c'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#a5b076'}]
                    },
                    {
                        featureType: 'poi.park',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#447530'}]
                    },
                    {
                        featureType: 'road',
                        elementType: 'geometry',
                        stylers: [{color: '#f5f1e6'}]
                    },
                    {
                        featureType: 'road.arterial',
                        elementType: 'geometry',
                        stylers: [{color: '#fdfcf8'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry',
                        stylers: [{color: '#f8c967'}]
                    },
                    {
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#e9bc62'}]
                    },
                    {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry',
                        stylers: [{color: '#e98d58'}]
                    },
                    {
                        featureType: 'road.highway.controlled_access',
                        elementType: 'geometry.stroke',
                        stylers: [{color: '#db8555'}]
                    },
                    {
                        featureType: 'road.local',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#806b63'}]
                    },
                    {
                        featureType: 'transit.line',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                    },
                    {
                        featureType: 'transit.line',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#8f7d77'}]
                    },
                    {
                        featureType: 'transit.line',
                        elementType: 'labels.text.stroke',
                        stylers: [{color: '#ebe3cd'}]
                    },
                    {
                        featureType: 'transit.station',
                        elementType: 'geometry',
                        stylers: [{color: '#dfd2ae'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'geometry.fill',
                        stylers: [{color: '#b9d3c2'}]
                    },
                    {
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [{color: '#92998d'}]
                    }
                    ],
                    {name: 'Styled Map'});
            
            var zoom_rate = 8;
            var tmp_state = results[0].state;
            for (var i = 1; i < results.length; i++) {
                if (results[i].state != tmp_state) {
                    zoom_rate = 5;
                }
            }        

            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: zoom_rate-1,
              center: {lat: average(a), lng:average(b)},
              mapTypeControlOptions: {
                mapTypeIds: ['satellite', 'hybrid', 'terrain',
                        'styled_map']
              }
            });
    
            var iconBase = 'http://maps.google.com/mapfiles/kml/paddle/';
            
            // for (var i = 0; i< a.length; i++) {
            a.forEach(function(d, i) {
                var marker = new google.maps.Marker({
                    position: {lat: d, lng: b[i]},
                    icon: iconBase + (i+1) + ".png",
                    map: map
                });
    
                var contentString = '<div id="siteNotice" style="height: 150px; width: 350px;">' + '<h5>' + results[i].trail_name + '</h5>' + "<p>" + results[i].overview + "</p>" + "</div>";
    
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
    
                marker.addListener('mouseover', function() {
                    infowindow.open(map, marker);
                });
    
                marker.addListener("mouseout", function() {
                    infowindow.close();
                })
            });
            
            map.mapTypes.set('styled_map', styledMapType);
            map.setMapTypeId('terrain');
          }

          // helper: get the mean of array of floats
          function average(arr) {
                if (arr.length > 0) {
                    var sum = 0;
                    for (var i = 0; i< arr.length; i++) {
                        sum += arr[i];
                    }
                    return sum/arr.length;
                }
                return 0;
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ3UAqTqrfEAjaYLv9Gsiuaml5yho1UIM&callback=initMap"></script>
    </body>

</html>