<html>
    <title> Trailgle</title>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>

        <div class="topcorner">
            <p>Project Name: Trailgle</p>
            <p>Student Name:  st883, xt222, zl329, ebl48 </p>
        </div>

        <div class='title'>
            <h1>Traigle</h1>
            <p>Recommend trails for you</p>
        </div>

        <form class= "global-search">
            <div class="form-group">
                <div class="desc">Find trails that are similar to</div>
                <div class="input">
                    <input id="trail_name" type="text" name="trail_name" size="60" placeholder="Enter a trail name ">
                </div>
            </div>
            <div class="form-group">
                <div class="desc">With keywords</div>
                <div class="input">
                    <input id="keywords" type="text" name="keywords" size="60" placeholder="Trail Charateristics (e.g. Waterfall)">
                </div>
            </div>
            <div class="form-group">
                <div class="desc">Near</div>
                <div class="input">
                    <input id="near" type="text" name="near" size="60" placeholder="city, state">
                </div>
            </div>

            <button type="submit" class="btn btn-info"> Search</button>
        </form>


        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>