<html>
    <title> Trailgle</title>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <!-- <body style="background-image: url(http://moziru.com/images/climbing-tree-clipart-mountain-trekking-3.jpg);
        background-repeat: no-repeat;
        background-size: 100%;"> -->
    <body>
    <div class="topcorner">
        <p>Project Name: Trailgle</p>
        <p>Student Name:  st883, xt222, zl329, ebl48 </p>
    </div>
        <form class= "global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                FIND 
                <!-- <font color=#FBBC05>the </font> -->
                <font color=#34A853>TRAILS</font>
                <font color=#FBBC05>that</font>
                <font color=#FBBC05>are</font>
            </h1>
            
            <br><br>

            <h3>similar to</h3>
            <div class="form-group">
                <input id="input" type="text" name="search" size="40" placeholder="Enter trail name ">
            </div>
            <br>

            <h3>with keyword</h3>
            <div class="form-group">
                <input id="input" type="text" name="search" size = "40" placeholder="e.g. waterfall, children-friendly">
            </div>
            <br>

            <div class="form-group">
                <h3>within </h3>
                <input id="input" type="text" name="search" size = "10" placeholder="distance">
                <h3>miles of  </h3> 
                <input id="input" type="text" name="search" size="25" placeholder="Enter City Name">
                <h3>, </h3>
                <input id="input" type="text" name="search" size="10" placeholder="State">
            </div>
            <br>

            <h3>with difficulty of </h3>
            <select name="tags" >
                <option value="" selected disabled hidden>Choose here</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br>

            <h3>tagged as </h3>
                <input type="button" class="tag_btn btn-warning" value="Trail Running">Trail Running</button>
                <input type="button" value="Birding" onclick = "this.style.color='#000000'" />
                <input type="button" value="Hiking">Hiking</button>
                <input type="button" value="Nature Trips">Nature Trips</button>
                <input type="button" value="Paddle Sports">Paddle Sports</button>
                <input type="button" value="Rock Climbing">Rock Climbing</button>
                <input type="button" value="Snowshoeing">Snowshoeing</button>
                <input type="button" value="Walking">Walking</button>
            <br>

            <h3>with a starting altitude greater than </h3>
            <input id="input" type="text" name="search" size = "10" placeholder="ft">
            <h3>and smaller than  </h3> 
            <input id="input" type="text" name="search" size="10" placeholder="ft">

            <br>
            <h3>with route type of  </h3>
            <button value="Loop">Loop</button>
            <button value="Out & Back">Out & Back</button>
            <button value="Point to Point">Point to Point</button>
            <br>

            <br>
            <button type="submit" class="btn btn-submit"> Go Find Me Some Amazing Trails! </button>
        </form>


        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}  
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>